{% extends 'app/index.html' %}
{% load static %}


{% block cuerpo %}

<section class="projects-section bg-light" id="projects">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>Juan Manuel Vallejo</h2>
            <p class="lead">Acerca de mi</p>
            <p class="mb-0">Soy un chico de 25 de Uruguay, actualmente Auxiliar de depósito, pero con ganas de programar y aprender cosas nuevas.
                Me gusta encontrar soluciones efectivas, rápidas y sencillas, con lo cual pienso que el framewokr Django se ajusta bastante a mi personalidad.
                Me interesa mucho el desarrollo de páginas web, y de aplicaciones para teléfono. Pero también me gustaría aprender a programar videojuegos, porque 
                soy una persona creativa que siempre está pensando una idea diferente, y creo que un videojuego es la máxima expresión de creatividad que puede tener una persona.

                Me puedo pasar todo un día programando, con lo cual estoy muy decidido a adentrarme en este mundo de la programación, ya que creo que es más vocacional ya que con
                la programación encontré una forma de darle formas a mis ideas de alguna manera.
            </p>
        </div>

</section>





{% endblock cuerpo %}