{% extends 'app/ciudad_list.html' %}
{% load static %}


{% block cuerpo %}

<section class="projects-section bg-light" id="projects">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>Busan</h2>
            <p class="lead">La ciudad más hermosa de Corea</p>
            <p class="mb-0">Busan, una extensa ciudad puerto de Corea del Sur, es conocida por sus playas, montañas y templos. La ajetreada playa Haeundae cuenta con el acuario de vida marina, así como con una plaza folclórica con juegos tradicionales, como tirar la cuerda, mientras que la playa Gwangalli tiene muchos bares y vistas del moderno puente Diamond. El templo Beomeosa, un santuario budista fundado el año 678, se ubica en la base de la montaña Geumjeong, que tiene senderos de excursión</p>
        </div>

</section>





{% endblock cuerpo %}
    