{% extends 'app/ciudad_list.html' %}
{% load static %}


{% block cuerpo %}

<section class="projects-section bg-light" id="projects">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>Daegu</h2>
            <p class="lead">La ciudad más calurosa</p>
            <p class="mb-0">Daegu, oficialmente Ciudad Metropolitana de Daegu, es una de las seis ciudades metropolitanas que, junto a las nueve provincias, la ciudad especial y la ciudad autónoma especial, forman Corea del Sur.

                Está ubicada al sureste del país, entre las provincias de Gyeongsang del Norte y Gyeongsang del Sur. Es la cuarta ciudad más poblada de Corea del Sur, después de Seúl, Busán e Incheon. Fue la capital de la provincia de Gyeongsang del Norte, aunque legalmente no es parte de esta provincia. La capital se trasladó a Andong, Gyeongsang del Norte en febrero de 2016. Se encuentra en el norte de la región de Yeongnam.
                Daegu siempre ha tenido una gran importancia por su estratégica situación en la confluencia de los ríos Geumho y Nakdong. Durante la Dinastía Joseon, la ciudad fue el centro administrativo, económico y cultural de toda la región de Gyeongsang, papel que más adelante desempeñaría la ciudad de Busán, en Gyeongsang del Sur.</p>
        </div>

</section>





{% endblock cuerpo %}