{% extends 'app/ciudad_list.html' %}
{% load static %}


{% block cuerpo %}

<section class="projects-section bg-light" id="projects">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>Gyeongju</h2>
            <p class="lead">La ciudad de la historia</p>
            <p class="mb-0">Gyeongju es una ciudad de la costa sureste de Corea del Sur. Fue la capital de la milenaria dinastía Silla y es famosa por sus numerosos vestigios históricos. El templo Bulguksa, del siglo VIII, incluye dos pagodas gemelas de piedra, una serie de escaleras de madera y una gran estatua de Buda de bronce. Cerca, la gruta de Seokguram alberga una estatua de Buda sentado y ofrece vistas panorámicas del sol naciente sobre el mar del Japón.</p>
        </div>

</section>





{% endblock cuerpo %}