{% extends 'app/index.html' %}
{% load static %}


{% block cuerpo %}
    

<section class="about-section text-center" id="cuerpo">

<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://www.google.com/maps/place/Gyeongbokgung/@37.579617,126.977041,15z/data=!4m6!3m5!1s0x357ca2c74aeddea1:0x8b3046532cc715f6!8m2!3d37.579617!4d126.977041!16zL20vMDJ2M3Q2?entry=ttu" title="Gyeongbokgung">
                    <img class="img-fluid" src="{% static 'app/assets/img/gyeongbokgung.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Gyeongbokgung</div>
                        <div class="project-name">161 Sajik-ro, Jongno-gu, Seul</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://www.google.com/maps/place/N+Seoul+Tower/@37.5511694,126.9882266,15z/data=!4m2!3m1!1s0x0:0x5cf8577c2e7982a5?sa=X&ved=2ahUKEwjXuM7N3dmAAxUluJUCHc0WDX4Q_BJ6BAhtEAA&ved=2ahUKEwjXuM7N3dmAAxUluJUCHc0WDX4Q_BJ6BQiSARAI" title="N Tower">
                    <img class="img-fluid" src="{% static 'app/assets/img/ntower.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">N Tower Seul</div>
                        <div class="project-name">105 Namsangongwon-gil, Yongsan-gu, Seul</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://www.google.com/maps/place/Bulguksa/@35.7900971,129.3320924,15z/data=!4m6!3m5!1s0x3567b2da6c9f0c43:0xac9baff9c9df57df!8m2!3d35.7900971!4d129.3320924!16zL20vMDF6enFj?entry=ttu" title="Bulguksa">
                    <img class="img-fluid" src="{% static 'app/assets/img/bulguksa.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Bulguksa</div>
                        <div class="project-name">15-1 Jinhyeon-dong, Gyeongju-si, Gyeongsangbuk-do</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://www.google.com/maps/place/Museo+Nacional+de+Corea/@37.5238506,126.9804702,15z/data=!4m2!3m1!1s0x0:0x616286c7a66e50e7?sa=X&ved=2ahUKEwj_p6K839mAAxUuqpUCHb5OAA8Q_BJ6BAhkEAA&ved=2ahUKEwj_p6K839mAAxUuqpUCHb5OAA8Q_BJ6BAh8EAg" title="Museo Nacional de Corea">
                    <img class="img-fluid" src="{% static 'app/assets/img/museonacional.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Museo Nacional de Corea</div>
                        <div class="project-name">137 Seobinggo-ro, Yongsan-gu, Seul</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://www.google.com/maps/place/Anapji/@35.8341593,129.2265835,15z/data=!4m2!3m1!1s0x0:0xddcee3b6f0c789fd?sa=X&ved=2ahUKEwiElLix4dmAAxUaCLkGHQLuClcQ_BJ6BAhKEAA&ved=2ahUKEwiElLix4dmAAxUaCLkGHQLuClcQ_BJ6BAhkEAg" title="Anapji">
                    <img class="img-fluid" src="{% static 'app/assets/img/anapji.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Anapji</div>
                        <div class="project-name">102 Wonhwa-ro, Gyeongju-si, Gyeongsangbuk-do</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://www.google.com/maps/place/DDP+%E2%94%82+Dongdaemun+Design+Plaza/@37.5665256,127.0092236,15z/data=!4m2!3m1!1s0x0:0x5c22a91dab450bdc?sa=X&ved=2ahUKEwinxIjI5NmAAxXOpJUCHc0OBQoQ_BJ6BAhUEAA&ved=2ahUKEwinxIjI5NmAAxXOpJUCHc0OBQoQ_BJ6BAhzEAg" title="DDP">
                    <img class="img-fluid" src="{% static 'app/assets/img/ddp.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">DDP Dongdaemun Design Plaza</div>
                        <div class="project-name">281 Eulji-ro, Jung-gu, Seul</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<section class="projects-section bg-light" id="projects">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>Lista de Lugares</h2>
            
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>ubicacion</th>
                        
                        <th>Precio</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                {% for lugar in lugar_list %}
                    <tr>
                        <td>{{ lugar.id }}</td>
                        <td>{{ lugar.nombre }}</td>
                        <td>{{ lugar.precioEntrada }}</td>
                        <td>{{ lugar.ubicacion }}</td>
                        <td>{{ lugar.tipo }}</td>
                        
                               
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if user.is_authenticated and user.is_superuser %}
                <h2>Administracion </h2> <a
                href="{% url 'crear_lugar' %}"
                class="btn btn-primary btn-sm"
                ><i class="fa fa-plus fa-lg" title="New Record"> </i>
                </a>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombre </th>
                            <th>Estrellas</th>
                            
                            <th>Ubicacion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lugar in lugar_list %}
                        <tr>
                            <td>{{ lugar.id }}</td>
                            <td>{{ lugar.nombre }}</td>
                            <td>{{ lugar.precioEntrada }}</td>
                            <td>{{ lugar.ubicacion }}</td>
                            <td>{{ lugar.tipo }}</td>
                            
                            <td>
                                <a
                                href="{% url 'lugar_update' lugar.id %}"
                                class="btn btn-primary"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                                </a>
                                <a
                                href="{% url 'borrar_lugar' lugar.id %}"
                                class="btn btn-danger"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                                </a>
                                
                            </td>        
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            
            

            
        </div>

</section>


{% endblock cuerpo %}